%h1 Listing events
%p1
  //= link_to "Sort Date", events_path(:sort => :date)
  = link_to "Sort Desc", events_path(:sort => :description)
  %form{ :action => events_path, :method => "get" }
    %input{:placeholder => @query_key, :required => "", :type => "text", :name => "query"}
      %button{:type => "submit"} Search
  = link_to "Clear", events_path(:sort => "", :query => "")
%table
  %thead
    %tr
      %th
      %th
      %th

  
  - @events.each_slice(4).to_a.each do |events_split|
    %div{class: "card-group"}
      - events_split.each do |event|
        %div{class: "card", style: "max-width: 18rem;"}
          %div{class: "card-body"}
            %h5{class: "card-title"}
              = event.description
              
            %h6{class: "card-subtitle mb-2 text-muted"}
              = event.date
            %a{href: event_path(event.id), class: "card-link"}
              View event
    %br
    //      %tr
    //       %td= link_to 'Show', event
    //        %td= link_to 'Edit', edit_event_path(event)
    //        %td= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }

%br

//= button_to 'New Event', @events.create, class: "btn btn-primary"