%h1 Event Details

%div{class: "card", style: "max-width: 100rem;"}
  %div{class: "card-body"}
    //%h3{class: "card-title"}
    //  = event.title
    //%h5{class: "card-subtitle"}
    //  = event.date
    %p{class: "card-text"}
      = @event.description
      
=link_to "Back To Events", events_path