%h2 About
%p BU Event Board is an aggregator that provides simple and easy discovery of local events happening in the Binghamton community.

%h2 Team members
%ul
  %li Miles Miller
  %li Jack Arnold
  %li Thomas Loja
  %li Alex Burke
  
=link_to "back door", events_path